# ignore everything
*

# allow specific files
!.gitignore

!vim/
!vim/**

!alacritty/
!alacritty/**

!bash/
!bash/**

!tmux/
!tmux/**

!aerospace/
!aerospace/**

# ignore specific files
nvim/lazy-lock.json
vim/.netrwhist
**/.env
