# Ignore everything
*

!.gitignore
# Don't ignore specific directories
!vim/**
!i3/
!i3/**
!nvim/**
!alacritty/**
!awesome/**
!picom/
!picom/**
!terminator/**
!bash/**
!gtk-3.0/**
!rofi/**
!vimrc_merged
!xfce-panel.tar.bz2

# Ignore specific files inside of unignored specific dirs
vim/.netrwhist
nvim/lazy-lock.json
