# ignore everything
*

# allow specific files
!.gitignore

!hypr/
!hypr/**

!waybar/
!waybar/**

!swaync/
!swaync/**

!gtk-3.0/
!gtk-3.0/**

!vim/
!vim/**

!nvim/
!nvim/**

!alacritty/
!alacritty/**

!bash/
!bash/**

!rofi/
!rofi/**

!systemd/user/
!systemd/user/**

!tmux/
!tmux/**

# ignore specific files
nvim/lazy-lock.json
vim/.netrwhist
**/.env
