.flat,
.toggle {
	font-family: 'DejaVuSans Nerd Font';
	font-size: 25px;
	padding: 0px 18px 0px 15px;
}

.flat:hover,
.toggle:hover {
	background-color: #2a3045;
}

.flat:checked,
#pager button:checked {
	background-color: #83a6f2;
	border-bottom: 2px solid black;
	border-radius: 6px;
	color: black;
	font-weight: 450;
}

calendar {
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	color: white;
	background-color: #1c1c2e;
}

calendar.highlight {
	color: grey;
}

calendar:selected {
	background-color: #94b6ff;
	border-radius: 5px;
}
