* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: NotoSans Nerd Font;
}

window#waybar {
	background-color: transparent;
	/* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
	color: rgba(255, 255, 255, 0);
	transition-property: background-color;
	transition-duration: .5s;
	color: #00FF00;
	/* background-color: rgba(35, 32, 54, 0.8); */
}

window#waybar.hidden {
	opacity: 0.2;
}

button {
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	/* box-shadow: inset 0 -3px #ffffff; */
}


window#waybar.empty #window {
	box-shadow: none;
	background-color: transparent;
}

/* LEFT SIDE  */

#workspaces {
	font-size: 24px;
}

#workspaces button {
	padding: 0 15px;
	margin: 0 1px;
	background-color: #232036;
	/* color: #FFFFFF; */
	color: #e0e6ff;
	border-radius: 30px;
	box-shadow: inset -2px -4px #83a6f2;
}

#workspaces button.active {
	background-color: #83a6f2;
	/* color: #000000; */
	color: #232036;
}


#workspaces button:hover {
	/* background: rgba(0, 0, 0, 0.65); */
	box-shadow: none;
}

#workspaces button.urgent {
	color: #ff9e64;
	box-shadow: inset -2px -4px #ff9e64;
}


/* CENTER */
#window {
	font-size: 20px;
	padding: 0 15px;
	color: rgb(210, 210, 210);
	background: rgba(35, 32, 54, 1);
	border-radius: 30;
	box-shadow: inset 0px -4px rgba(131, 166, 242, 1);
}


/* RIGHT SIDE */

#mode {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#power-profiles-daemon,
#custom-power,
#custom-menu,
#custom-swaync,
#mpd {
	background-color: #232036;
	font-weight: bold;
	border-radius: 30px;
	padding: 0 10 0 13px;
	color: #ffffff;
	margin: 0 2px;
	color: #232036;
	font-size: 20px;
	box-shadow: inset 2px -4px #83a6f2;
}


#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#power-profiles-daemon:hover,
#custom-power:hover,
#custom-menu:hover,
#custom-swaync:hover,
#mpd:hover {
	box-shadow: none;
	transition-duration: 0.7s;
}


#custom-power,
#custom-menu {
	margin-left: 12px;
	margin-right: 12px;
	box-shadow: none;
	/* red */
	/* background-color: #f7768e; */
	/* violet */
	background-color: #bb9af7;
	/* override of override */
	font-size: 24px;
	padding: 0 10px;
}

#custom-swaync {
	color: #e0e6ff;
	box-shadow: inset 2px -4px #83a6f2;
	/* color: #bb9af7; */
	/* box-shadow: inset 2px -4px #bb9af7; */
}

#clock {
	color: #e0e6ff;
	box-shadow: inset 2px -4px #83a6f2;
}

#cpu {
	/* color: #83a6f2; */
	/* box-shadow: inset 2px -4px #83a6f2; */
	color: #e0e6ff;
	box-shadow: inset 2px -4px #83a6f2;
}

#memory {
	/* color: #f78b9e; */
	/* box-shadow: inset 2px -4px #f78b9e; */
	color: #e0e6ff;
	box-shadow: inset 2px -4px #83a6f2;
}

#backlight {
	/* background-color: #90b1b1; */
	color: #90b1b1;
}

#network {
	color: #e0e6ff;
	box-shadow: inset 2px -4px #83a6f2;
	/* color: #ff9e64; */
	/* box-shadow: inset 2px -4px #ff9e64; */
}

#network.disconnected {
	/* background-color: #f53c3c; */
	color: #f53c3c;
}

#pulseaudio {
	/* color: #ff9e64; */
	/* box-shadow: inset 2px -4px #ff9e64; */
	color: #e0e6ff;
	box-shadow: inset 2px -4px #83a6f2;
}

#pulseaudio:hover {
	box-shadow: none;
}

/* #pulseaudio.muted { */
/* 	background-color: #90b1b1; */
/* 	color: #2a5c45; */
/* } */

#wireplumber {
	background-color: #fff0f5;
	/* color: #000000; */
}

#wireplumber.muted {
	background-color: #f53c3c;
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#tray {
	background-color: #2980b9;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#battery {
	/* background-color: #ffffff; */
	color: #ffffff;
}

#battery.charging,
#battery.plugged {
	color: #ffffff;
	background-color: #26A65B;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profiles-daemon {
	padding-right: 15px;
}

#power-profiles-daemon.performance {
	background-color: #f53c3c;
	/* color: #ffffff; */
}

#power-profiles-daemon.balanced {
	background-color: #2980b9;
	/* color: #ffffff; */
}

#power-profiles-daemon.power-saver {
	background-color: #2ecc71;
	/* color: #000000; */
}


/* #idle_inhibitor { */
/* 	background-color: #2d3436; */
/* } */
/**/
/* #idle_inhibitor.activated { */
/* 	background-color: #ecf0f1; */
/* 	color: #2d3436; */
/* } */
/**/
/* #mpd { */
/* 	background-color: #66cc99; */
/* 	color: #2a5c45; */
/* } */
/**/
/* #mpd.disconnected { */
/* 	background-color: #f53c3c; */
/* } */
/**/
/* #mpd.stopped { */
/* 	background-color: #90b1b1; */
/* } */
/**/
/* #mpd.paused { */
/* 	background-color: #51a37a; */
/* } */
/**/
/* #language { */
/* 	background: #00b093; */
/* 	color: #740864; */
/* 	padding: 0 5px; */
/* 	margin: 0 5px; */
/* 	min-width: 16px; */
/* } */
/**/
/* #keyboard-state { */
/* 	background: #97e1ad; */
/* 	color: #000000; */
/* 	padding: 0 0px; */
/* 	margin: 0 5px; */
/* 	min-width: 16px; */
/* } */
/**/
/* #keyboard-state>label { */
/* 	padding: 0 5px; */
/* } */
/**/
/* #keyboard-state>label.locked { */
/* 	background: rgba(0, 0, 0, 0.2); */
/* } */
/**/
/* #scratchpad { */
/* 	background: rgba(0, 0, 0, 0.2); */
/* } */
/**/
/* #scratchpad.empty { */
/* 	background-color: transparent; */
/* } */
/**/
/* #privacy { */
/* 	padding: 0; */
/* } */
/**/
/* #privacy-item { */
/* 	padding: 0 5px; */
/* 	color: white; */
/* } */
/**/
/* #privacy-item.screenshare { */
/* 	background-color: #cf5700; */
/* } */
/**/
/* #privacy-item.audio-in { */
/* 	background-color: #1ca000; */
/* } */
/**/
/* #privacy-item.audio-out { */
/* 	background-color: #0069d4; */
/* } */
