[Unit]
Description=Cockpit Web Service
After=network.target

[Service]
ExecStart=/usr/libexec/cockpit-ws -a 127.0.0.1 --local-session=cockpit-bridge
Restart=on-failure

[Install]
WantedBy=default.target

